{% extends 'main/layout.html' %} {% block content %}
<div class="about_core">
    <div class="title_about">Про нас</div>
    <div class="about_text">
        Pet - ваш источник самых свежих и интересных новостей из мира домашних
        животных! У нас вы найдете все самое актуальное о кормах, здоровье,
        воспитании, модных трендах и многом другом. Будьте в курсе всех событий
        и узнавайте первыми о важных событиях в мире домашних питомцев. Мы
        постоянно обновляем нашу информацию, чтобы вы получали только самые
        свежие новости. Подписывайтесь на нашу страницу, чтобы быть в курсе
        последних обновлений!
    </div>
    <a href="{% url 'home' %}"
        ><button class="btn btn-danger">На главную</button></a
    >
</div>
{% endblock %} {% block title %}Информация про нас{% endblock %}
