{% extends 'main/layout.html' %} {% block content %}
<div class="features">
    <div class="title_page">Контакты</div>
    <div class="contacts_block">
        <ul>
            <a class="list cont" href="https://t.me/+GKPZO8-511A0OTZi"
                ><li>
                    <i
                        class="fa-brands fa-telegram"
                        style="color: rgb(17, 223, 238)"
                    ></i>
                    Telegram
                </li></a
            >
            <a class="list cont" href="https://www.vk.com/padre_korolev"
                ><li>
                    <i class="fa-brands fa-vk" style="color: #2689ba"></i> VK
                </li></a
            >
            <a class="list cont" href="https://www.instagram.com/skroplex/"
                ><li>
                    <i
                        class="fa-brands fa-instagram"
                        style="color: #e60a3a"
                    ></i>
                    Instagram
                </li></a
            >
        </ul>
    </div>
</div>
{% endblock %} {% block title %}Контакты{% endblock %}
