{% extends 'main/layout.html' %} {% block content %}
<div class="features">
    <div class="title_page">{{title}}</div>
    <div class="title_text">
        Животные играют огромную роль в жизни человека. Они приносят радость,
        ласку и утешение, помогают в борьбе со стрессом и улучшают наше
        физическое и эмоциональное состояние. Домашние питомцы становятся
        верными компаньонами и друзьями, способными предоставить безусловную
        любовь и поддержку. Особенно заметна важность животных в жизни детей -
        уход за домашними животными учит ответственности, заботе и эмпатии.
        Кроме того, некоторые животные играют ключевую роль в сфере медицины,
        как терапевтические животные, помогая людям с различными заболеваниями.
        Лошади, собаки, кошки и другие животные принимают участие в программе
        физической реабилитации и психотерапии, помогая пациентам восстановить
        здоровье и поднять настроение. К тому же, животные играют важную роль в
        экосистеме, поддерживая баланс в природе и влияя на биоразнообразие
        планеты. Их роль в поддержании экологического равновесия и сохранении
        природы неоспорима. Таким образом, животные несомненно имеют большое
        значение в жизни человека, влияя на нашу психическую и физическую
        стабильность, принимая участие в медицинской терапии и поддерживая
        баланс в природе.
    </div>
    <a href="{% url 'about' %}"
        ><button class="btn btn-warning">На страницу про нас</button></a
    >
    <a href="{% url 'news_home' %}"
        ><button class="btn btn-info">Новостные статьи</button></a
    >
    <a href="{% url 'contacts' %}"
        ><button class="btn btn-danger">Контакты</button></a
    >
</div>
{% endblock %} {% block title %}Главная страница{% endblock %}
